# Default ignored files
/shelf/
/workspace.xml

# Rider ignored files
/.idea.GameEngineCPP.iml
/modules.xml
/contentModel.xml
/projectSettingsUpdater.xml

# Editor-based HTTP Client requests
/httpRequests/

# Datasource local storage ignored files
/dataSources/
/dataSources.local.xml

# Build and Debug files
/Debug/

# Python (Bytecode)
*.pyc

# ninja files
*.ninja

# Visual Studio
*.props
*.user
.vs/
Debug/
Release/
x64/
x86/
*.pyproj
*.vcxproj
*.vcxproj.filters
*.tlog
*.lastbuildstate
*.idb
*.sln
*.gitattributes

# VSCode
.vscode/

# scratch space
/main.cpp
scratch/

# CMake
build/
build-sol2/
CMakeCache.txt
CMakeFiles/

# Compiler outputs
obj/*
bin/*
main.exe
*.exe
main.o
*.o
lua53.dll
lua-5.3.4.dll
main.ilk
main.pdb

# QtCreator
*.creator.user.*
*.config
*.creator
*.files
*.includes

# Docs Artefacts
docs/build/

# Windows Crap
desktop.ini
*.db

# Miscellaneous
external/
vendor/
.idea/
cmake-build-debug/
cmake-build-relwithdebinfo/
cmake-build-release/
/subprojects/*
!/subprojects/*.wrap
lua-5.3/
lua-5.3-cxx/
lua-5.4/
LuaJIT-2.0/
LuaJIT-2.1/
lua-5.1/
lua-5.2/
~syncthing*
.tmp